<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="id" class="form-label">id</label>
    <input type="text" class="form-control" id="id" formControlName="id">
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">login</label>
    <input type="text" class="form-control" id="login" formControlName="login">
  </div>
  <div class="mb-3">
    <label for="senha" class="form-label">senha</label>
    <input type="text" class="form-control" id="senha" formControlName="senha">
  </div>
  <div class="mb-3">
    <label for="ativo" class="form-label">ativo</label>
    <input type="text" class="form-control" id="ativo" formControlName="ativo">
  </div>
  <div class="mb-3">
    <label for="pessoa" class="form-label">pessoa</label>
    <input type="text" class="form-control" id="pessoa" formControlName="pessoa">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
