<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="id" class="form-label">id</label>
    <input type="text" class="form-control" id="id" formControlName="id">
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome">
  </div>
  <div class="mb-3">
    <label for="turno" class="form-label">turno</label>
    <input type="text" class="form-control" id="turno" formControlName="turno">
  </div>
  <div class="mb-3">
    <label for="periodoLetivo" class="form-label">periodoLetivo</label>
    <input type="text" class="form-control" id="periodoLetivo" formControlName="periodoLetivo">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
