<h1>Cadastrar Prova</h1>

<hr>
<a routerLink="/prova/novo" class="btn btn-primary left">Novo</a>
<hr>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">data</th>
      <th scope="col">professor</th>
      <th scope="col">disciplina</th>
      <th scope="col">turno</th>
      <th scope="col">periodoLetivo</th>
      <th scope="col">observacoes</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items$">
      <td>{{ item.id }}</td>
      <td>{{ item.data | date:'dd/MM/yyyy' }}</td>
      <td>{{ item.professor.id }}</td>
      <td>{{ item.disciplina.id }}</td>
      <td>{{ item.turno }}</td>
      <td>{{ item.periodoLetivo }}</td>
      <td>{{ item.observacoes }}</td>      
      <td>
        <a (click)="edit(item.id)"  class="btn btn-primary">Editar</a>&nbsp;
        <a (click)="remove(item.id)" class="btn btn-danger">Excluir</a>                
      </td>
    </tr>
  </tbody>
</table>
