<h1>Cadastrar Prova</h1>

<hr>
<button (click)="criar()" class="btn btn-primary">Nova Prova</button>
<hr>


<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Data</th>
        <th scope="col">Professor</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Turno</th>
        <th scope="col">Periodo Letivo</th>
        <th scope="col">Observações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>