<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="id" class="form-label">id</label>
    <input type="text" class="form-control" id="id" formControlName="id">
  </div>
  <div class="mb-3">
    <label for="formato" class="form-label">formato</label>
    <input type="text" class="form-control" id="formato" formControlName="formato">
  </div>
  <div class="mb-3">
    <label for="descricao" class="form-label">descricao</label>
    <input type="text" class="form-control" id="descricao" formControlName="descricao">
  </div>
  <div class="mb-3">
    <label for="questao" class="form-label">questao</label>
    <input type="text" class="form-control" id="questao" formControlName="questao">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
