<div class="row">

    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">        

        <nav class="nav flex-column">
           <a class="nav-link active" aria-current="page" href="#">Prova</a>
           <a class="nav-link" href="#">Professor</a>
           <a class="nav-link" href="#">Disciplina</a>
           <hr>
           <a class="nav-link" (click)="sair()">Sair</a>
           <a class="nav-link" (click)="validar()">Validar</a>
        </nav>

    </div>

    <main class="col-md-9 col-lg-9">        
        <p>cadastro de prova</p>
        <p>cadastro de questoes e alternativas</p>
        <p>cadastro de professor, disciplina, pessoa</p>
        <p>controle de um diretor/coordenador</p>
        <p>cadastro turma</p>
    </main>

</div>