<h1>Cadastrar Disciplina</h1>

<hr>
<a routerLink="/disciplina/novo" class="btn btn-primary left">Novo</a>
<hr>



<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>nome</th>
      <th>codigo</th>
      <th>descricao</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items$">
      <td>{{ item.id }}</td>
      <td>{{ item.nome }}</td>
      <td>{{ item.codigo }}</td>
      <td>{{ item.descricao }}</td>
      <td>
        <a (click)="edit(item.id)"  class="btn btn-primary">Editar</a>&nbsp;
        <a (click)="remove(item.id)" class="btn btn-danger">Excluir</a>                
      </td>
    </tr>
  </tbody>
</table>
