<h1>Cadastrar Cidade</h1>

<hr>
<a routerLink="/cidade/novo" class="btn btn-primary left">Novo</a>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">UF</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cidade of items$">
      <td>{{ cidade.id }}</td>
      <td>{{ cidade.nome }}</td>
      <td>{{ cidade.estado.uf }}</td>
      <td>
        <a (click)="edit(cidade.id)"  class="btn btn-primary">Editar</a>&nbsp;
        <a (click)="remove(cidade.id)" class="btn btn-danger">Excluir</a>                
      </td>
    </tr>
  </tbody>
</table>
